#container { 
	width:100%;
}

#title {
   padding:2px;
   color:white;
   width:230px;
   font-size:12px;
   text-align:left;
   background-color: blue;
}

#status {
 margin-top:10px;
 font-size: 15px;
}